@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Variables for colors, fonts, and image dimensions
$primary-color: #4CAF50;
$secondary-color: #f2f2f2;
$text-color: #333;
$font-family: "Montserrat", sans-serif;
$image-size: 150px; 

// Global styles
body {
  font-family: $font-family;
  background-color: $secondary-color;
  margin: 0;
  padding: 0;
  color: $text-color;
}

// Header styles
header {
  background-color: $primary-color;
  padding: 20px;
  text-align: center;

  h1 {
    margin: 0;
    color: white;
  }
}

// Content area styles
.content-area {
  padding: 20px;

  h2 {
    color: $primary-color;
    text-align: center;
  }

  .tool-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 

    li {
      background-color: white;
      border: 1px solid $primary-color;
      border-radius: 5px;
      padding: 15px;
      transition: background-color 0.3s, transform 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: fadeIn 0.5s ease forwards; 
      opacity: 0; // Start invisible

      // Delay animation for staggered effect
      &:nth-child(1) { animation-delay: 0.1s; }
      &:nth-child(2) { animation-delay: 0.2s; }
      &:nth-child(3) { animation-delay: 0.3s; }
      &:nth-child(4) { animation-delay: 0.4s; }

      h3 {
        margin: 0 0 10px;
        color: $primary-color; 
        transition: color 0.3s; 
      }

      img {
        width: $image-size; 
        height: $image-size; 
        object-fit: contain;
        border-radius: 5px;
        margin-bottom: 10px;
      }

      p {
        text-align: center;
        margin: 0 0 10px;
        color: $text-color;
      }

      a {
        background-color: $primary-color;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }

      // Hover effect
      &:hover {
        background-color: $primary-color;
        color: white;

        h3 {
          color: white; 
        }

        transform: translateY(-2px);
      }
    }
  }
}

// Keyframes for fade-in animation
@keyframes fadeIn {
  to {
    opacity: 1; 
  }
}

// Media Queries for responsiveness
@media (min-width: 600px) {
  .tool-list {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 900px) {
  .tool-list {
    grid-template-columns: repeat(2, 1fr); 
  }
}

// Footer styles
footer {
  background-color: $primary-color;
  color: white;
  text-align: center;
  padding: 10px;

  p {
    margin: 0;
  }
}